.favorites-button {
    margin-left: auto;
    background-color: #FFFFFF;
    border: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-image: url(./hearts.png);
}

.favorites-button:hover {
    background-position: -30px 0;
}

.add-favorites {
    background-position: -60px 0 !important;
}
