.favorites-button {
    margin-left: auto;
    background-color: #FFFFFF;
    border: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-image: url(../background/hearts.png);
}

/* .favorites-input + .favorites-picture {
    position: absolute;
    background-image: url(../background/hearts.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 100%;
    width: 100%;
} */

.favorites-button:hover {
    background-position: -30px 0;
}

.add-favorites {
    background-position: -60px 0 !important;
}
