body {
    margin: 0;
    background-image: url(images/background/background.png);
    background-color: #dddddd;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  