body {
    margin: 0;
    padding: 0;
    background: #F8FAFE;
}

.page {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    font-size: 16px;
    font-family: sans-serif;
}

p {
    margin-bottom: 16px;
}

h3 {
    font-size: 1em;
    margin: 0 0 15px;
}

a {
    color: #008CF0;
    text-decoration: none;
}

a:hover {
    color: #FF5722;
}

.red-text {
    color: #FF5722;
}

.italic-text {
    font-style: italic;
}

.bold-text {
    font-weight: 700;
}

.strikethrough-text {
    text-decoration: line-through;
}

input {
	display: none;
}

button, label {
    background-color: transparent;
    border: 1px solid #888888;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo__name {
    height: 80px;
}

.logo__name p {
    margin-top: 21px;
    font-size: 44px;
    font-weight: 700;
}

.logo__icon {
    width: 36.5px;
    height: 43px;
    align-items: center;
}

.breadcrumbs {
    display: flex;
    margin-top: 10px;
    padding: 8px 0;
    gap: 4px;
}

.title__name {
    margin: 0 0 30px;
}

.photos {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.photos img {
    height: 387px;
}

.content {
    display: flex;
    margin-top: 30px;
    gap: 100px;
}

.feature {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.feature-color__name {
    margin: 0 0 15px;
}

.feature-color__other {
    display: flex;
    gap: 10px;
}

.other-color input + label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
}

.other-color input:checked + label {
    border: 2px solid #F36223;
}

.other-color input:hover + label {
    background-color: #F2F2F2; 
}

.other-color__img {
    height: 60px;
}

.feature-memory__button {
    display: flex;
    gap: 10px;
}

button, .feature-memory__button label {
	padding: 10px 20px;
}

.feature-memory__button input:checked + label {
    border: 2px solid #F36223;
    padding: 9px 19px;
}

button:hover, .feature-memory__button input:hover + label {
    background-color: #F2F2F2;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

li::before {
    content: " ";
    margin-right: 10px;
    background-color: #888888;
    height: 10px;
    width: 10px;
    border-radius: 15px;
    display: inline-block;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.important {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: 420px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-sizing: border-box;
}

.important-prise__oldprice {
    display: inline-block;
    color: #888888;
    margin: 0;
}

.important-prise__discount {
    display: inline-block;
    border-radius: 500px;
    padding: 4px 8px;
    margin-left: 10px;
    background-color: #FF5722;
    color: #FFFFFF;
}

.important-prise__newprice {
    font-size: 32px;
    display: block;
    color: black;
    margin: 10px 0 0;
}

.important__delivery {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px;
    gap: 10px;
}

.important__delivery p {
    margin: 0;
}

.important button {
    width: 100%;
    background-color: #FF5722;
    color: #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    border: none;
    padding: 20px 0 20px;
}

.important button:hover {
    background-color: #DA4A0C;
}

.important__frame p {
    color: #888888;
    font-size: 14px;
    margin: 0 0 10px;
}

.important-frame__block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.important-frame iframe {
    border: 1px dashed #888888;
    height: 300px;
    width: 100%;
    box-sizing: border-box;
}

table,
th,
td {
    border: 1px solid black
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.reviews__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews-header__text{
    display: flex;
    gap: 10px;
}

.reviews-text__title {
    margin: 0;
}

.reviews-text__count {
    color: #aaaaaa;
    font-size: 24px;
    font-weight: 700;
}

.reviews__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.review {
    display: flex;
    gap: 30px;
}

.review__photo {
    height: 140px;
    width: 140px;
    flex-shrink: 0;
    border-radius: 100px;
}

.review__content {
    width: 100%;
}

.review-content__name {
    font-size: 20px;
    margin: 0;
}

.review-content__stars {
    height: 30px;
    flex-shrink: 0;
    margin-top: 10px;
}

.review-content__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.review-content__text p {
    margin: 0;
    font-size: 14px;
}
