.wrapper {
    display: flex;
    justify-content: center;
    background: #F8FAFE;
    min-width: 1500px;
}

.page {
    display: flex;
    flex-direction: column;
    width: 1500px;
    font-size: 16px;
    font-family: sans-serif;
}

p {
    margin-top: 16px;
    margin-bottom: 16px;
}

h3 {
    font-size: 1em;
    margin: 0 0 15px;
}

a {
    color: #008CF0;
    text-decoration: none;
}

a:hover {
    color: #FF5722;
}

.red-text {
    color: #FF5722;
}

.italic-text {
    font-style: italic;
}

.bold-text {
    font-weight: 700;
}

.logo {
    display: flex;
    padding: 0 51px;
    gap: 10px;
    align-items: center;
}

.logo__name {
    height: 80px;
}

.logo__name p {
    margin-top: 21px;
    font-size: 44px;
    font-weight: 700;
}

.logo__icon {
    width: 36.5px;
    height: 43px;
    align-items: center;
}

.breadcrumbs {
    display: flex;
    margin: 10px 50px 0;
    padding: 8px 0;
    gap: 4px;
}

.title {
    margin-left: 50px;
}

.title__name {
    margin: 0 0 30px;
}

.photos {
    display: flex;
    gap: 10px;
    margin: 0 50px;
}

.photos img {
    height: 387px;
}

.content {
    display: flex;
    margin: 30px 50px 0;
    gap: 100px;
}

.feature {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.feature-color__name {
    margin: 0 0 15px;
}

.feature-color__other {
    display: flex;
    gap: 10px;
}

.other-color__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;
}

.other-color__image img {
    height: 60px;
}

.feature-memory__other {
    display: flex;
    gap: 10px;
}

.feature-memory__other button {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #888888;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

/*1 вариант маркера - через стилизацию*/
.li-element::before {
    content: " ";
    margin-right: 10px;
    background-color: #888888;
    height: 10px;
    width: 10px;
    border-radius: 15px;
    display: inline-block;
}

/*2 вариант маркера - добавлено изображение*/
.li-picture::before {
    content: url(images/circle.svg);
    padding-right: 10px;
}

/*3 вариант маркера - символ Unicode (css)*/
.li-unicode::before {
    content: "\2B24";
    margin-right: 10px;
    color: #888888;
    font-size: 9px;
    vertical-align: middle;
}

/*4 вариант маркера - символ Unicode (html)*/
.unicode-html {
    margin-right: 10px;
    color: #888888;
    font-size: 9px;
    vertical-align: middle;
}

/*4 пришлось отдельно задать margin для последней строки*/
.li-unicode-html {
    margin-bottom: 0; 
}

aside {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 40px;
}

.important {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: 420px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-left: auto;
    box-sizing: border-box;
}

.important-prise__oldprice {
    display: inline-block;
    color: #888888;
    margin: 0;
}

.important-prise__discount {
    display: inline-block;
    border-radius: 500px;
    padding: 4px 8px;
    margin-left: 10px;
    background-color: #FF5722;
    color: #FFFFFF;
}

.important-prise__newprice {
    font-size: 32px;
    display: block;
    color: black;
    margin: 10px 0 0;
}

.important__delivery {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px;
    gap: 10px;
}

.important__delivery p {
    margin: 0;
}

.important button {
    width: 100%;
    background-color: #FF5722;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    border-radius: 4px;
    border: none;
    padding: 20px 0 20px;
    box-sizing: border-box;
}

.important__frame p {
    color: #888888;
    font-size: 14px;
    margin: 0 0 10px;

}

.important-frame__block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.important-frame iframe {
    border: 1px dashed #888888;
    height: 300px;
    width: 100%;
    box-sizing: border-box;
}

.other-info {
    margin-left: 50px;
    margin-right: 50px;
}

table,
th,
td {
    border: 1px solid black
}

.review__header {
    display: inline-block;
}

.review__count {
    display: inline;
    color: #aaaaaa;
}

.review__addreview-btn {
    display: inline-block;
}

.review {
    display: flex;
    gap: 16px;
}

.review-content__name {
    margin-top: 0;
}

footer {
    margin-left: 50px;
    margin-right: 50px;
}