.review {
    display: flex;
    gap: 40px;
}

.review__content {
    width: 100%;
}

.review__text-mobile {
    display: none;
}

.separator__line {
    border: none;
    border-bottom: 1px dashed #888888;
    margin: 40px 0 40px 180px;
}

.last {
    display: none;
}

@media (max-width: 1499px) {
    .separator__line {
        margin: 40px 0 40px 140px;
    }
}

@media (max-width: 1023px) {
    .review__text {
        display: none;
    }

    .review__text-mobile {
        display: block;
    }

    .separator__line {
        margin: 40px 0;
    }
}



