.memory-button {
    border: 1px solid #888888;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    padding: 10px 20px;
}

.memory-button__actived {
    border: 2px solid #F36223;
    padding: 9px 19px;
}

.memory-button__hovered {
    background-color: #F2F2F2; 
}
