* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #F8FAFE;
}

.link {
    color: #008CF0;
    text-decoration: none;
    white-space: nowrap;
}

.link:hover {
    color: #FF5722;
}

.link:active {
    color: #A93A09;
}

.italic-text {
    font-style: italic;
}

.bold-text {
    font-weight: 700;
}

.strikethrough-text {
    text-decoration: line-through;
}

.header_size_32 {
    font-size: 32px;
}

.header_size_24 {
    font-size: 24px;
}

.header_size_20 {
    font-size: 20px;
}

.header_size_16 {
    font-size: 16px;
    padding-bottom: 15px;
}

.color-text_color_red {
    color: #FF5722;
}

@media (max-width: 1023px) {
    .header_size_32 {
        font-size: 24px;
    }
    
    .header_size_24 {
        font-size: 20px;
    }
    
    .header_size_16 {
        font-size: 14px;
    }
    
}
