/* .page__header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    background-color: #F8FAFE;
    border-bottom: 1px solid #081658;
}

.logo {
    max-width: 1400px;
    margin: auto;
}

.logo__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1499px) {
    .page__header {
        padding: 0 15px;
    }
} */
