.logo__left-side {
    display: flex;
    gap: 10px;
    align-items: baseline;
    padding-top: 18px;
    padding-bottom: 9px;
    text-decoration: none;
    color: #081658;
}

.logo__text {
    font-size: 44px;
    font-weight: 700;
}

@media (max-width: 1023px) {
    .logo__left-side {
        padding: 8px 0;
    }
    
    .logo__text {
        font-size: 32px;
    }
    
    .logo__img {
        height: 30px;
    }
}
