.basket-button {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 20px 0 20px;
    justify-content: center;
}

.add-button {
    background-color: #FF5722;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 400;
    border: none;
    cursor: pointer;
}

.delete-button {
    background-color: #888888;
}
    
.basket-button::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(./basket.svg);
    background-repeat: no-repeat;
}

.active-button {
    background-color: #A93A09;
}

.add-button:hover {
    background-color: #DA4A0C;
}
